/* color palette from <https://github.com/vuejs/theme> */
* {
  font-family: "Plus Jakarta Sans", sans-serif;
  
}
:root {
  --primary-color: #17202A;
  --primary-color-ligh: #2b2e32;
  --danger-light-color: #FFD6C7;
  --danger-color: #B73A4E;
  --success-color: #3DCC6A;
  --success-light-color: #B3F9B5;
  --secondary-color: #6c757d;
  --secondary-color-tint: #D2D6DE;
  --secondary-color-shade: #566573;
  --light-color: #f1f3f5;
  --light-color-shade: #D6DBE0;
  
  --bg-color: #f8f9fa;
  --text-color: #121212;
  --blue: #73A4DC;
}
.btn-primary{
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  color: #fff;
  border: 2px solid var(--primary-color) !important;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
.btn-danger{
  background-color: var(--danger-color) !important;
  border-color: var(--danger-color) !important;
  color: #fff;
  border: 2px solid var(--danger-color) !important;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
.btn-danger:hover{
  background-color: white !important;
  border-color: white !important;
  color:  var(--danger-color) !important;
  border: 2px solid var(--danger-color) !important;
}
.btn-danger-outline{
  background-color: white !important;
  border-color: var(--danger-color) !important;
  color: var(--danger-color) !important;
  border: 2px solid var(--danger-color) !important;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
.btn-blue-outline{
  background-color: white !important;
  border-color: var(--blue) !important;
  color: var(--blue) !important;
  border: 2px solid var(--blue) !important;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
.btn-blue-outline:hover{
  background-color: var(--blue)!important;
  border-color: var(--blue) !important;
  color: white !important;
  border: 2px solid var(--blue) !important;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
.btn-danger-outline:hover{
  background-color: var(--danger-color) !important;
  border-color: var(--danger-color) !important;
  color:  white !important;
  border: 2px solid var(--danger-color) !important;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
.btn-success{
  background-color: var(--success-color) !important;
  border-color: var(--success-color) !important;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-primary:hover{
  background-color: white !important;
  border-color: var(--primary-color) !important;
  color: var(--primary-color) !important;
  border: 2px solid var(--primary-color) !important;
}

.btn-primary-outline{
  background-color: white !important;
  border-color: var(--primary-color) !important;
  color: var(--primary-color) ;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid var(--primary-color) !important;
  transition: background-color 0.3s, box-shadow 0.3s;
}
.btn-primary-outline:hover{
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  color: #fff !important;
}
.bold{
  font-weight: bold;
}
.btn{
  max-width: 100vw;
}


/********$ toggle **********/
.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 24px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}
.switch input:checked + .slider {
  background-color: var(--primary-color);
}
.switch input:checked + .slider:before {
  transform: translateX(20px);
}

.cheeckbox-primary {
  accent-color: var(--primary-color); /* Pour la plupart des navigateurs modernes */
  width: 1.2em;
  height: 1.2em;
  vertical-align: middle;
}

/* Pour un style plus personnalisé si besoin */
.cheeckbox-primary:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.select-primary {
  appearance: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  background: #fff;
  padding: 6px 12px;
  font-weight: 500;
  outline: none;
  transition: border-color 0.2s;
}
.select-primary:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 2px rgba(129,154,87,0.15); /* adapte la couleur si besoin */
}
.select-primary option {
  color: var(--primary-color);
}