

.inputReason {
  width: calc(98% - 2px);
  margin-left: 1%;
  margin-right: 1%;
  border: 2px solid var(--secondary-color-tint);
  border-radius: 4px;
}

.dropdown-menu {
  display: block;
}



.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid var(--secondary-color-tint);
  border-radius: 4px;
  width: 300px;
  margin-right: 5px;
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

  &::placeholder {
    color: #999;
  }
}

.search-btn {
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.search-btn i {
  margin-right: 5px;
}

// Mode nocturne
@media (prefers-color-scheme: dark) {
  .search-input {
    background-color: #2a2a2a;
    color: white;
    border-color: #444;

    &::placeholder {
      color: white;
    }
  }


  .inputReason {
    background-color: var(--secondary-color);
    color: white;
    border-color: #444;
  }
}
